/* for personalized styles*/
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.bg-primary{
    background-color: #26254F;
}

.bg-secondary{
    font-family: 'Frank Ruhl Libre', serif;
    background-color:#E1DFDF;
}
.gold{
    color: #D5972C;
}
.benefeciaire-select{
    font-size: 9px;
}
.bg-gold{
    background-color: #D5972C;
}
.show-menu{
    animation: show-menu;
    animation-duration: 0.7s;
}
@keyframes show-menu {
    from{left: -300px;}
    to{inset:0}
}
.scale-up{
    animation: scale-up;
    animation-duration: 0.5s;
}
@keyframes scale-up{
    from{scale: 0.7;}
    to{scale:1;}
}
.bg-compte-epargne{
    background: url('../assets/images/bg-compte-epargne.png');
    background-position: center;
    background-size: cover;
}
.input-error {
    border: 2px solid red;
}