
<div class="md:grid md:grid-cols-[25%_1fr]">

        <!-- Section -->

        <div class="sectioncontainer">

            <section id="menu"
                class="hidden z-50 md:w-1/4 md:inline-block h-full w-4/5 bg-primary fixed top-0 flex-col items-center pt-5">

                <div class="flex w-full items-center justify-between md:justify-center md:pr-4 gap-5">

                    <button class="md:hidden">
                        <i id="close-menu" class="fa-solid fa-xmark text-white text-3xl"></i>
                    </button>

                    <div class="w-44">
                        <img src="../assets/images/logo.png" alt="LOGO">
                    </div>

                    <div class="min-w-12 md:hidden"></div>

                </div>
                <div>
                    <ul class="pt-7 text-3xl md:text-2xl text-white text-center flex flex-col gap-10">
                        <li><a href="" class="gold border-b-2 pb-2">Mes Comptes</a></li>
                        <li><a href="../pages/virements.html">Virements</a></li>
                        <li><a href="../pages/paiements.html">Paiements</a></li>
                        <li><a href="../pages/historique.html">Historique</a></li>
                        <li><a href="../pages/beneficiaire.html">Bénéficiaire</a></li>
                        <li><a href="../pages/conversion.html">Conversion Devises</a></li>
                        <li><a href="../pages/carte.html">Cartes</a></li>
                        <li><a href="../pages/compte-epargne.html">Compte Epargne</a></li>
                    </ul>

                </div>

            </section>

        </div>

        <div>

            <main>

            </main>
            
        </div>

</div>