 <aside id="menu" class="hidden flex flex-col md:block fixed top-0 left-0 w-4/5 md:w-64 h-screen bg-primary z-50">
        
        <div class="flex items-center justify-between md:justify-center p-5">
            <button 
                id="close-menu" 
                class="md:hidden">
                <i 
                    class="fa-solid fa-xmark text-white text-3xl"></i>
            </button>
            <div 
                class="w-32 md:w-40">
                <img src="../assets/images/logo.png" alt="LOGO">
            </div>
            <div class="min-w-10 md:hidden"></div>
        </div>
        
        <nav class="px-4 py-4">
            <ul class="text-lg text-white text-center  flex flex-col gap-4">
                <li><a href="../pages/mes-comptes.html" class="block py-2 gold  border-b-2 border-yellow-400 transition">Mes Comptes</a></li>
                <li><a href="../pages/virements.html" class="block py-2 hover:text-yellow-400 transition">Virements</a></li>
                <li><a href="../pages/paiements.html" class="block py-2 transition hover:text-yellow-400">Paiements</a></li>
                <li><a href="../pages/historique.html" class="block py-2 hover:text-yellow-400 transition">Historique</a></li>
                <li><a href="../pages/beneficiaire.html" class="block py-2 hover:text-yellow-400 transition">Bénéficiaire</a></li>
                <li><a href="../pages/conversion.html" class="block py-2 hover:text-yellow-400 transition">Conversion Devises</a></li>
                <li><a href="../pages/carte.html" class="block py-2 hover:text-yellow-400 transition">Cartes</a></li>
                <li><a href="../pages/compte-epargne.html" class="block py-2 hover:text-yellow-400 transition">Compte Epargne</a></li>
            </ul>
        </nav>
        
    </aside>


    <!--MAIN -->
    <main class="md:ml-64 min-h-screen p-4 md:p-8">
    
    </main>